/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(21, 216, 250);
  color: white;
  margin: 0px;
  font-family: sans-serif;
}

.headerList {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  width: 100%;
  margin: 0;
  border: 1px solid grey;
  background-color: grey;
}

.headerList li{
  float: left;
  margin-right: 30px;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  text-align: center;
}

#loginUser {
  float: right;
}

.flash {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 60px;
  border: 1px solid red;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: red;
  line-height: 60px;
  margin-top: 60px;
}
