<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>勉強共有サイト</title>
  </head>
  <body>

    <div class="container">
      <h1 id="homeTitle">ようこそ, 数学勉強共有サイトへ！</h1>
      <p>このサイトは, わからない問題などをインターネット上で教えあうことができるサイトです.</p>
    </div>

  </body>
</html>
